<html lang="en">
  <head>
      <% include common.ejs %>
      <script src="scripts/clipboard.min.js"></script>
      <script src="scripts/index.js"></script>
  </head>
  <body>
      <div class='site-wrapper'>
        <div class='header clearfix'>
          <h3 class='text-muted'>Twitter Upload demo</h3>
          <a href='/logout'><input class="btn btn-default btn-file" id="logout" type="submit" value="logout"/></a>
        </div>
        <div class="site-wrapper-inner">
          <div>
          <h1>Upload an image</h1>
            <div class="alert alert-success" id='success' style="display: none;">
              Image was uploaded successfully <strong>Click the image to copy url</strong>
            </div>
            <div class="alert alert-danger" id='failed' style="display: none;">
              Image upload <strong>Failed!</strong>
            </div>
            <form class='form-inline' id="imageUpload" method="post" action="/">
              <label class="btn btn-default btn-file">
                  Choose File to upload<input type="file" style="display: none;" accept="image/*" id='uploadimage' required>
              </label>
              <input type="date" class='form-control' name='postdate' required>
              <input type="time" class='form-control' name='posttime' required>
              <input type="submit" class="btn  btn-primary" value="Schedule Task">
              <input type="url" style="display: none;" name='fileurl' id='fileurl'>
              <input type="number" style="display: none;" name='timezoneoffset' id='timezoneoffset'>
          </form>
          <img src="" class="img-rounded" id='preview' style="display: none; max-width: 500px; max-height: 500px;" data-toggle="tooltip" title="Copy">
          </div>
        </div>
    </div>
  </body>
</html>