<html lang="en">
	<head>
	    <% include common.ejs %>
	</head>
	<body>
		<div class='site-wrapper'>
		  <div class="site-wrapper-inner">
		    <h1>Login With Twitter</h1>
		    <a href="/login/twitter" id="login_button">
		      <div type="button" class="btn btn-lg btn-primary" class="fa fa-twitter">Log in</div>
		    </a>
		  </div>
		</div>
	</body>
</html>