html, body {
    height: 100%;
    width: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
}

.header{
  padding: 10px 20px;
  height: 50px;
  vertical-align: middle;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header a{
  float: right;
}

.header h3{
  float: left;
  margin: 0;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  transform: translateY(-50px);
}

@media (max-width: 768px) {
  .site-wrapper{
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 566px) {
  .site-wrapper{
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 506px) {
  .site-wrapper{
    width: 90%;
    margin: 0 auto;
  }
}